
.custom-form {
    max-width: 900px;
    margin: 0 auto;
    border: 2px solid #ced4da;
    padding: 60px 40px;
    background-color: white;
}

.title {
    text-align: center;
}

.primary-btn {
    width: 100%;
    background-color: #6a78d3;
    padding: 16px;
    font-size: 1.5rem;
    color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 2rem;
}

.primary-btn:hover {
    background-color: #495ddf;
}

.primary-btn:active, .primary-btn:focus {
    background-color: #3043c0;
}

.form-group {
    margin-bottom: 2rem;
}

.form-field {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

input {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.error-text {
    color: #f44336;
    margin-top: 0.2rem;
    }